<nav class="navbar border border-style-solid">
    <div class="container-fluid">
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/program">Liste des série</a>
            </li>
        </ul>
    </div>
</nav>