<nav class="navbar border border-style-solid">
    <div class="container-fluid">
        <ul>
            <li>
                <a href="{{ path("app_index") }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path("program_index") }}">Liste des série</a>
            </li>
            <li>
                <a href="{{ path("category_index") }}">Liste des catégories</a>
            </li>
        </ul>
    </div>
</nav>